---
title:  NomadWiki - Because nomads love sharing!
---

%header.centered-navigation{:role => "banner"}
  .centered-navigation-wrapper
    %a.mobile-logo{:href => "javascript:void(0)"}
      nomadwiki
    %a#js-centered-navigation-mobile-menu.centered-navigation-mobile-menu{:href => "javascript:void(0)"} MENU
    %nav{:role => "navigation"}
      %ul#js-centered-navigation-menu.centered-navigation-menu.show
        %li.nav-link
          %a{:href => "#philosophy"} Philosophy
        %li.nav-link
          %a{:href => "#gear"} Gear
        %li.nav-link
          %a{:href => "#software"} Software
        %li.nav-link
          %a{:href => "#locations"} Locations

.hero.underline
  .hero-inner
    %a.hero-logo{:href => ""}
      = image_tag 'nomadwiki.png'
    .hero-copy
      %h1 nomadwiki.net
      %p Know your options in a big world of possibilities!
.container
  #philosophy.underline
    %h3 Philosophy
    - data.philosophy.each do |line|
      .entry
      = link_to line[0]
      = line[1]
  #gear.underline
    %h3 Gear
    - data.gear.each do |line|
      .entry
      = link_to line[0]
      = line[1]
  #software.underline
    %h3 Software
    - data.software.each do |line|
      .entry
      = link_to line[0]
      = line[1]
  #locations.underline
    %h3 Locations
    - data.locations.each do |line|
      .entry
      = link_to line[0]
      = line[1]