---
title:  HowToDigitalNomad because digital nomads love sharing!
---

%header.centered-navigation{:role => "banner"}
  .centered-navigation-wrapper
    %a.mobile-logo{:href => "javascript:void(0)"}
      = image_tag 'nomadwiki_mini.png'
    %a#js-centered-navigation-mobile-menu.centered-navigation-mobile-menu{:href => "javascript:void(0)"}
      %i.fa.fa-bars.fa-2x
    %nav{:role => "navigation"}
      %ul#js-centered-navigation-menu.centered-navigation-menu.show
        %li.nav-link
          %a{:href => "#community"} Community
        %li.nav-link
          %a{:href => "#gear"} Gear
        %li.nav-link.logo
          %a.logo{:href => "javascript:void(0)"}
            =image_tag 'nomadwiki_mini.png'
        %li.nav-link
          %a{:href => "#locations"} Locations
        %li.nav-link
          %a{:href => "#misc"} Misc

.hero.underline
  .hero-inner
    %a.logo.hero-logo{:href => ""}
      = image_tag 'htdn.png'
    .hero-copy
      %p Know your options in a big world of possibilities!
    %a.button.twitter{:href=>'//twitter.com/intent/tweet?text=Know+your+options+in+a+big+world+of+possibilities!;hashtags=howtodigitalnomad%2C&amp;related=lunat1que&amp;url=http%3A%2F%2Fhowtodigitalnomad.com'}
      %i.fa.fa-twitter
        Tweet
    %a.button.facebook{:href=>'//www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fhowtodigitalnomad.com&amp;layout=button'}
      %i.fa.fa-facebook
        Share
    %a.button.github{:href=> 'https://github.com/digitalnomads/digitalnomads.github.io/tree/source'}
      .fa.fa-github
        Contribute
.container
  #community.underline
    = partial(:category, locals: { title: 'community'} )
    = partial(:entries, locals: { entries: data.community })
  #gear.underline
    = partial(:category, locals: { title: 'gear'} )
    = partial(:entries, locals: { entries: data.gear })
  #locations.underline
    = partial(:category, locals: { title: 'locations'} )
    = partial(:entries, locals: { entries: data.locations })
  #misc.underline
    = partial(:category, locals: { title: 'misc'} )
    = partial(:entries, locals: { entries: data.misc })

.footer