---
title:  NomadWiki - Because nomads love sharing!
---

%a{:href => "https://github.com/digitalnomads/digitalnomads.github.io"}
  %img{:alt => "Fork me on GitHub", "data-canonical-src" => "https://s3.amazonaws.com/github/ribbons/forkme_left_white_ffffff.png", :src => "https://camo.githubusercontent.com/c6286ade715e9bea433b4705870de482a654f78a/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f77686974655f6666666666662e706e67", :style => "position: absolute; top: 0; left: 0; border: 0;"}/

%header.centered-navigation{:role => "banner"}
  .centered-navigation-wrapper
    %a.mobile-logo{:href => "javascript:void(0)"}
      = image_tag 'nomadwiki_mini.png'
    %a#js-centered-navigation-mobile-menu.centered-navigation-mobile-menu{:href => "javascript:void(0)"}
      %i.fa.fa-bars
    %nav{:role => "navigation"}
      %ul#js-centered-navigation-menu.centered-navigation-menu.show
        %li.nav-link
          %a{:href => "#philosophy"} Philosophy
        %li.nav-link
          %a{:href => "#gear"} Gear
        %li.nav-link.logo
          %a.logo{:href => "javascript:void(0)"}
            =image_tag 'nomadwiki_mini.png'
        %li.nav-link
          %a{:href => "#community"} Community
        %li.nav-link
          %a{:href => "#locations"} Locations

.hero.underline
  .hero-inner
    %a.logo.hero-logo{:href => ""}
      = image_tag 'nomadwiki.png'
    .hero-copy
      %p Know your options in a big world of possibilities!
.container
  #philosophy.underline
    = partial(:category, locals: { title: 'philosophy'} )
    = partial(:entries, locals: { entries: data.philosophy })
  #gear.underline
    = partial(:category, locals: { title: 'gear'} )
    = partial(:entries, locals: { entries: data.gear })
  #community.underline
    = partial(:category, locals: { title: 'community'} )
    = partial(:entries, locals: { entries: data.community })
  #locations.underline
    = partial(:category, locals: { title: 'locations'} )
    = partial(:entries, locals: { entries: data.locations })