---
title:  HowToDigitalNomad because digital nomads love sharing!
---

.hero.underline
  .hero-inner
    %a.logo.hero-logo{:href => ""}
      = image_tag 'htdn.png'
    .hero-copy
      %p Know your options in a big world of possibilities!
    %a.button.twitter{:href=>'//twitter.com/intent/tweet?text=Know+your+options+in+a+big+world+of+possibilities!;hashtags=howtodigitalnomad%2C&amp;related=lunat1que&amp;url=http%3A%2F%2Fhowtodigitalnomad.com'}
      %i.fa.fa-twitter
        Tweet
    %a.button.facebook{:href=>'//www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fhowtodigitalnomad.com&amp;layout=button'}
      %i.fa.fa-facebook
        Share
    %a.button.github{:href=> 'https://github.com/digitalnomads/digitalnomads.github.io/tree/source'}
      .fa.fa-github
        Contribute
.container
  #misc.underline
    = partial(:category, locals: { title: 'misc'} )
    = partial(:entries, locals: { entries: data.misc })
  #community.underline
    = partial(:category, locals: { title: 'community'} )
    = partial(:entries, locals: { entries: data.community })
  #locations.underline
    = partial(:category, locals: { title: 'locations'} )
    = partial(:entries, locals: { entries: data.locations })
  #gear.underline
    = partial(:category, locals: { title: 'gear'} )
    = partial(:entries, locals: { entries: data.gear })

.footer